#formulario_paciente{
	background-color: white;
	padding-top: 30px;
	border: #C3C3C3 1px solid;
	border-radius: 15px;
	margin-bottom: 30px;
}

#formulario{
	background-color: white;
	padding-top: 30px;
	border: #C3C3C3 1px solid;
	border-radius: 15px;
	margin-bottom: 550px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#user-list {
	overflow: auto;
	height: 560px;
}

#message-list{
	overflow: auto;
}

.user {
	float: right;
}

#boton{
	padding-bottom: 30px;
}

.verde{
	color: #00a105;
}

#nuevoExp{
	margin-bottom: 20px;
	float: right;
}

.current {
	color: green;
  }
  
  #pagin li {
	display: inline-block;
  }
  
  .prev {
	cursor: pointer;
  }
  
  .next {
	cursor: pointer;
  }
  
  .last{
	cursor:pointer;
	margin-left:5px;
  }
  
  .first{
	cursor:pointer;
	margin-right:5px;
  }

#duiMedico {
	display: none;
}
#duiMedico2 {
	display: none;
}

#nombreMedico {
	display: none;
}
#nombreMedico2 {
	display: none;
}

#apellidoMedico {
	display: none;
}
#apellidoMedico2 {
	display: none;
}

#correoMedico {
	display: none;
}
#correoMedico2 {
	display: none;
}

#contraMedico {
	display: none;
}

#especialidadMedico {
	display: none;
}

#nombreContacto {
	display: none;
}
#nombreContacto2 {
	display: none;
}

#apellidoContacto {
	display: none;
}
#apellidoContacto2 {
	display: none;
}

#direccionContacto {
	display: none;
}

#parentescoContacto {
	display: none;
}
#parentescoContacto2 {
	display: none;
}

#correoContacto {
	display: none;
}
#correoContacto2 {
	display: none;
}
#contraContacto {
	display: none;
}
#telFijo {
	display: none;
}
#telFijo2 {
	display: none;
}
#telMovil {
	display: none;
}
#telMovil2 {
	display: none;
}
#duiPaciente {
	display: none;
}

#duiPaciente2 {
	display: none;
}
#nombrePaciente {
	display: none;
}

#nombrePaciente2 {
	display: none;
}

#apellidoPaciente {
	display: none;
}

#apellidoPaciente2 {
	display: none;
}

#edadPaciente {
	display: none;
}

#edadPaciente2 {
	display: none;
}
#sexoPaciente {
	display: none;
}
#direccionPaciente {
	display: none;
}
#telefonoPaciente {
	display: none;
}
#telefonoPaciente2 {
	display: none;
}
#duiCita {
	display: none;
}
#duiCita2 {
	display: none;
}
#fechaCita {
	display: none;
}
#horaCita {
	display: none;
}
#medicoCita {
	display: none;
}

#diagnostico {
	display: none;
}

.btn-circle-xl {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 30px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
}

